
version: "3.9"

services:
  postgres16:
    image: postgres:16
    container_name: postgres16
    environment:
      POSTGRES_USER: postgres16
      POSTGRES_PASSWORD: postgres16
      POSTGRES_DB: urlshortener
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: